<div class="card">
  <span class="card-bg" style="background-image:url('<%= cocktail.picture %>')"></span>
  <span class="card-gradient"></span>
  <span class="card-category"><i class="fa fa-glass"></i></span>
  <span class="card-text">
    <h2><%= cocktail.name %></h2>
    <p>
    </p>
  </span>
  <%= link_to "", cocktail_path(cocktail), class: "card-link" %>
</div>
