<div class="banner text-center" style="background-image: url('https://wallpaperscraft.com/image/cocktail_olive_glass_spray_black_background_77828_3840x2160.jpg')">

  <div class="banner-gradient"></div>
  <div class="banner-content">
    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Welcome on the cocktail factory !</h1>
        <p class="text-center">you cand find and add great cocktails</p>
        <p class="text-center"><%= link_to "Create a cocktail", new_cocktail_path, class: "btn btn-primary btn-lg" %></p>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-sm-4">
        <%= render "card", cocktail: cocktail %>
      </div>
    <% end %>
  </div>
</div>

