<div class="background" style="background-image:url('http://www.newlike.fr/content-nl/uploads/2012/06/Depositphotos_5810946_XXL.jpg')">
  <div class="background-gradient"></div>
  <div class="background-content">
    <%= link_to "< Back", cocktails_path, class: "btn btn-primary" %>
    <h1 class="text-center">New Cocktail</h1>

    <%= render 'form' %>

  </div>
</div>
