<div style="background-image: url('https://wallpaperscraft.com/image/cocktail_olive_glass_spray_black_background_77828_3840x2160.jpg')">
<%= link_to "< Back", cocktails_path, class: 'btn btn-primary' %>
<h1 class="text-center">New Cocktail</h1>

<%= render 'form' %>
</div>
